/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
    vertical-align: top !important;
}

.wy-table-responsive {
    overflow: visible !important;
}

/* A little hacky... sets the width large enough to fit the capabilities
   taxonomy table.*/
.wy-nav-content {
    max-width: 950px !important;
}

/* consistent font with SmartThings website */
body {
    font-family: "Swiss 721 W01","Helvetica Neue",Helvetica,Arial,sans-serif; !important;
}

.red {
    color: #ff0000;
}

.green {
    color: #009900;
}

.magenta {
    color: #990099;
}

.blue {
    color: #0000ff;
}

.brown {
    color: #8b4513;
}

.strike {
  text-decoration: line-through;
}

div.column {
    background-color: #eee;
    /*border: 1px solid #ccc;*/
}
