@font-face {
	font-family: 'Swiss 721 Light';
	src: url('fonts/swiss-721-light-webfont.eot');
	src: url('fonts/swiss-721-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/swiss-721-light-webfont.woff') format('woff'),
	url('fonts/swiss-721-light-webfont.ttf') format('truetype'),
	url('fonts/swiss-721-light-webfont.svg#swis721_lt_btlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* consistent font with SmartThings website */
body {
    font-family: "Swiss 721 Light" !important;
}

h1, h2, .rst-content p.caption, h3, h4, h5, h6, legend {
    font-family: "Swiss 721 Light" !important;
}

/* override table width restrictions */
.wy-table-responsive table td, .wy-table-responsive table th {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
    vertical-align: top !important;
}

.wy-table-responsive {
    overflow: visible !important;
}

/* A little hacky... sets the width large enough to fit the capabilities
   taxonomy table.*/
.wy-nav-content {
    max-width: 950px !important;
}

.red {
    color: #ff0000;
}

.green {
    color: #009900;
}

.magenta {
    color: #990099;
}

.blue {
    color: #0000ff;
}

.brown {
    color: #8b4513;
}

.strike {
  text-decoration: line-through;
}

div.column {
    background-color: #eee;
    /*border: 1px solid #ccc;*/
}

.new-feature {
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    background: #eaf4fa;
}

.beta-feature {
    padding: 12px;
    line-height: 24px;
    margin-bottom: 24px;
    background: #eaf4fa;
}

.beta-feature .admonition-title {
    background: #ff4d4d;
}
